:root {
  --Primary-text-color: rgb(29, 29, 29);

  --Primary-bg-color: rgb(224, 224, 224);
  --secondary-bg-color: color-mix(in srgb, var(--Primary-bg-color), rgb(1,1,1) 4%);
  --tertiary-bg-color: color-mix(in srgb, var(--Primary-bg-color), rgb(1, 1, 1) 8%);

  --default-border-radius: 7px;
} 

body {
  margin: 0;
  background-color: var(--Primary-bg-color);
}

a,p {
  margin: 0;
  color: var(--Primary-text-color);
}